---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/activities/1946417534
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '600,30000'
      Etag:
      - W/"f23567507f0ae0da7353b059990fbe1e"
      X-Ratelimit-Usage:
      - '1,7224'
    body:
      encoding: UTF-8
      string: '{"resource_state":3,"athlete":{"id":26462176,"resource_state":1},"name":"TCS
        NYC Marathon 2018","distance":42268.1,"moving_time":13085,"elapsed_time":13333,"total_elevation_gain":270.9,"type":"Run","workout_type":1,"id":1946417534,"external_id":"17900304917.tcx","upload_id":2082412856,"start_date":"2018-11-04T14:53:46Z","start_date_local":"2018-11-04T09:53:46Z","timezone":"(GMT-05:00)
        America/New_York","utc_offset":-18000.0,"start_latlng":[40.6,-74.06],"end_latlng":[40.77,-73.98],"location_city":null,"location_state":null,"location_country":"","start_latitude":40.6,"start_longitude":-74.06,"achievement_count":7,"kudos_count":33,"comment_count":8,"athlete_count":301,"photo_count":0,"map":{"id":"a1946417534","polyline":"aayvFjz_cMCcBIqA{@_EY}@q@sCYeBYoAg@iBW_Be@gBo@oDm@mCMu@GU[s@e@wCq@oCQaAqCqLU}@WoASs@cAeF[qAc@{Ac@mBe@gCa@aBiAsFc@eBk@iBUyA{@qDo@wC_@{AWwAW_Ay@{DgAuESeAy@yDkAgFWy@e@uBe@aBYw@c@cAg@aAYc@iAgA_CeB{AqA}@gAiA_Ba@_@gAsAi@_@sAg@m@c@wBsBi@_@q@[q@Si@YQCKDQVc@~@GT@TLXx@hAdCbCHNBNu@hBo@nB_A|BKLOHU@YCe@Ky@[mA[w@[_Do@}@]s@Os@Wo@Qu@[uAY}CiAy@_@WG{@MyCgAe@Mu@[iA]g@I}@c@aCc@_Bu@eA_@s@Mc@Ow@Qw@[aASw@YeAYo@GSGo@W_@Kk@UyCy@gAi@}@]uAYi@Q{@M_@IUKk@[o@ImCaAgAW}FqBeAW}Ag@sCo@}@_@uAc@mAk@wAuAiAwAcAaAOK]KUM]IYW]c@c@{@_@[...]
