---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/activities/1946417534/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '600,30000'
      Etag:
      - W/"3d36d36ff4b8ac796b0fad00f72dbcb2"
      X-Ratelimit-Usage:
      - '92,10389'
    body:
      encoding: UTF-8
      string: "[{\"id\":443703635,\"activity_id\":1946417534,\"post_id\":null,\"resource_state\":2,\"text\":\"Молодчина!\",\"mentions_metadata\":null,\"created_at\":\"2018-11-05T02:31:22Z\",\"athlete\":{\"id\":501473,\"username\":\"zolotov\",\"resource_state\":2,\"firstname\":\"Vasili\",\"lastname\":\"Zolotov\",\"city\":\"Sausalito\",\"state\":\"California\",\"country\":\"United
        States\",\"sex\":\"M\",\"premium\":false,\"summit\":false,\"created_at\":\"2012-05-13T18:59:40Z\",\"updated_at\":\"2018-09-30T19:27:07Z\",\"badge_type_id\":0,\"profile_medium\":\"https://dgalywyr863hv.cloudfront.net/pictures/athletes/501473/4232963/1/medium.jpg\",\"profile\":\"https://dgalywyr863hv.cloudfront.net/pictures/athletes/501473/4232963/1/large.jpg\",\"friend\":\"accepted\",\"follower\":\"accepted\"}},{\"id\":443709988,\"activity_id\":1946417534,\"post_id\":null,\"resource_state\":2,\"text\":\"Way
        to go Daniel! You beat my first marathon time by 5 min!\",\"mentions_metadata\":null,\"created_at\":\"2018-11-05T03:07:48Z\",\"athlete\":{\"id\":7195689,\"username\":\"mknipes\",\"resource_state\":2,\"firstname\":\"Marlowe\",\"lastname\":\"Knipes\",\"city\":\"East
        Harlem\",\"state\":\"NY\",\"country\":\"United States\",\"sex\":\"M\",\"premium\":true,\"summit\":true,\"c[...]
