---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/activities/1946417534/zones
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Usage:
      - '7,150'
      X-Ratelimit-Limit:
      - '200,2000'
      X-Readratelimit-Limit:
      - '100,1000'
      Etag:
      - W/"78381069fcda4cba63166e72efbb5ccb"
      X-Readratelimit-Usage:
      - '7,150'
    body:
      encoding: UTF-8
      string: '[{"score":656.0,"distribution_buckets":[{"min":0,"max":116,"time":19.0},{"min":117,"max":144,"time":57.0},{"min":145,"max":158,"time":1390.0},{"min":159,"max":173,"time":6934.0},{"min":174,"max":-1,"time":4685.0}],"type":"heartrate","resource_state":3,"sensor_based":true,"points":582,"custom_zones":false},{"score":8,"distribution_buckets":[{"max":2.964,"min":0,"time":3408},{"max":3.443,"min":2.964,"time":4679},{"max":3.835,"min":3.443,"time":4269},{"max":4.097,"min":3.835,"time":401},{"max":4.358,"min":4.097,"time":152},{"max":-1,"min":4.358,"time":176}],"type":"pace","resource_state":3,"sensor_based":true}]'
  recorded_at: Sat, 18 Oct 2025 23:02:44 GMT
recorded_with: VCR 6.3.1
