---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/activities/15605032352/laps
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Usage:
      - '2,226'
      X-Ratelimit-Limit:
      - '200,2000'
      X-Readratelimit-Limit:
      - '100,1000'
      Etag:
      - W/"c874ee91983d7eec258eabb6c30133b4"
      X-Readratelimit-Usage:
      - '2,225'
    body:
      encoding: UTF-8
      string: '[{"id":55554683802,"resource_state":2,"name":"Lap 1","activity":{"id":15605032352,"visibility":"everyone","resource_state":1},"athlete":{"id":26462176,"resource_state":1},"elapsed_time":1008,"moving_time":1008,"start_date":"2025-08-27T13:54:22Z","start_date_local":"2025-08-27T09:54:22Z","distance":133.46,"average_speed":0.13,"max_speed":0.826316,"lap_index":1,"split":1,"start_index":0,"end_index":94,"total_elevation_gain":0,"average_cadence":61.5,"device_watts":false,"average_heartrate":124.9,"max_heartrate":181.0}]'
  recorded_at: Sat, 18 Oct 2025 23:35:04 GMT
recorded_with: VCR 6.3.1
