---
http_interactions:
  - request:
      method: get
      uri: https://www.strava.com/api/v3/activities/3958491750/comments
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer access-token
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - W/"d877f8f5778c9f4c7b648621554565ac"
        Status:
          - 200 OK
        X-Ratelimit-Limit:
          - "600,30000"
        X-Ratelimit-Usage:
          - "7,117"
      body:
        encoding: UTF-8
        string:
          '[{"id":808412522,"activity_id":3958491750,"post_id":null,"resource_state":2,"text":"ich
          mag Bitche","mentions_metadata":null,"created_at":"2020-08-24T12:04:23Z","athlete":{"resource_state":2,"firstname":"Dario","lastname":"S."},"reaction_count":0,"has_reacted":false},{"id":808420060,"activity_id":3958491750,"post_id":null,"resource_state":2,"text":"Wundervolle
          Strecke! Kenne ich!","mentions_metadata":null,"created_at":"2020-08-24T12:20:20Z","athlete":{"resource_state":2,"firstname":"Bernd","lastname":"W."},"reaction_count":0,"has_reacted":false},{"id":808471991,"activity_id":3958491750,"post_id":null,"resource_state":2,"text":"Bernd
          Wildemann wirklich ein Filetstück ❤️","mentions_metadata":null,"created_at":"2020-08-24T14:08:57Z","athlete":{"resource_state":2,"firstname":"Simon","lastname":"N."},"reaction_count":0,"has_reacted":false}]'
    recorded_at: Tue, 02 Aug 2022 08:55:45 GMT
recorded_with: VCR 6.1.0
