---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/activities/1946417534/photos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '600,30000'
      Etag:
      - W/"cee0c5146e5c0bb56fc7ee089d1b7a0a"
      X-Ratelimit-Usage:
      - '92,8257'
    body:
      encoding: UTF-8
      string: '[{"id":null,"unique_id":"65889142-538D-4EE5-96F5-3DC3B773B1E3","athlete_id":26462176,"activity_id":1946417534,"activity_name":"TCS
        NYC Marathon 2018","post_id":null,"resource_state":2,"ref":null,"uid":null,"caption":"","type":null,"source":1,"uploaded_at":"2018-11-05T12:45:43Z","created_at":"2018-11-05T12:44:33Z","created_at_local":"2018-11-05T07:44:33Z","urls":{"0":"https://dgtzuqphqg23d.cloudfront.net/eb4DMJ2hJW3k_g9URZEMfaJ8rZfHagrNlZRuEZz0osU-29x64.jpg"},"sizes":{"0":[29,64]},"default_photo":false},{"id":null,"unique_id":"78d34bd7-a3e6-4ed5-b020-01c0c6c2d1c0","athlete_id":26462176,"activity_id":1946417534,"activity_name":"TCS
        NYC Marathon 2018","post_id":null,"resource_state":2,"ref":null,"uid":null,"caption":"","type":null,"source":1,"uploaded_at":"2018-11-07T19:09:36Z","created_at":"2018-11-07T17:27:10Z","created_at_local":"2018-11-07T12:27:10Z","urls":{"0":"https://dgtzuqphqg23d.cloudfront.net/6CGG_2DKcxs-EA0zKQFIysWlkV8ljHArNYz2ULXvHaU-62x64.jpg"},"sizes":{"0":[62,64]},"[...]
