---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/activities/7142833299
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Usage:
      - '2,2'
      X-Ratelimit-Limit:
      - '200,2000'
      X-Readratelimit-Limit:
      - '100,1000'
      Etag:
      - W/"f8d64f7d71bdb00f0d68e3e35790bf41"
      X-Readratelimit-Usage:
      - '2,2'
    body:
      encoding: UTF-8
      string: '{"resource_state":3,"athlete":{"id":26462176,"resource_state":1},"name":"#CycleForSurvival","distance":101529.0,"moving_time":2432,"elapsed_time":2432,"total_elevation_gain":24.0,"type":"Ride","sport_type":"Ride","workout_type":10,"id":7142833299,"start_date":"2022-05-14T18:21:19Z","start_date_local":"2022-05-14T14:21:19Z","timezone":"(GMT-05:00)
        America/New_York","utc_offset":-14400.0,"location_city":null,"location_state":null,"location_country":"USA","achievement_count":0,"kudos_count":3,"comment_count":0,"athlete_count":1,"photo_count":0,"map":{"id":"a7142833299","polyline":"ki{eFvqfiVqAWQIGEEKAYJgBVqDJ{BHa@jAkNJw@Pw@V{APs@^aABQAOEQGKoJ_FuJkFqAo@{A}@sH{DiAs@Q]?WVy@`@oBt@_CB]KYMMkB{AQEI@WT{BlE{@zAQPI@ICsCqA_BcAeCmAaFmCqIoEcLeG}KcG}A}@cDaBiDsByAkAuBqBi@y@_@o@o@kB}BgIoA_EUkAMcACa@BeBBq@LaAJe@b@uA`@_AdBcD`@iAPq@RgALqAB{@EqAyAoOCy@AmCBmANqBLqAZkB\\iCPiBJwCCsASiCq@iD]eA]y@[i@w@mAa@i@k@g@kAw@i@Ya@Q]EWFMLa@~BYpAFNpA`Aj@n@X`@V`AHh@JfB@xAMvAGZGHIDIAWOEQNcC@sACYK[MSOMe@QKKKYOs@UYQISCQ?Q@WNo@r@OHGAGCKOQ_BU}@MQGG]Io@@c@FYNg@d@s@d@ODQAMOMaASs@_@a@SESAQDqBn@a@RO?KK?UBU\\kA@Y?WMo@[...]
