---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/activities/1946417534/kudos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '600,30000'
      Etag:
      - W/"5ba7e5ad2eff4f0b91dab332ee0ca479"
      X-Ratelimit-Usage:
      - '93,10390'
    body:
      encoding: UTF-8
      string: "[{\"id\":175275,\"username\":\"fberselius\",\"resource_state\":2,\"firstname\":\"Fredrik\",\"lastname\":\"Berselius\",\"city\":\"New
        York\",\"state\":\"NY\",\"country\":\"United States\",\"sex\":\"M\",\"premium\":true,\"summit\":true,\"created_at\":\"2011-11-29T05:02:22Z\",\"updated_at\":\"2018-10-09T01:20:58Z\",\"badge_type_id\":1,\"profile_medium\":\"https://dgalywyr863hv.cloudfront.net/pictures/athletes/175275/2135528/6/medium.jpg\",\"profile\":\"https://dgalywyr863hv.cloudfront.net/pictures/athletes/175275/2135528/6/large.jpg\",\"friend\":\"accepted\",\"follower\":\"accepted\"},{\"id\":501473,\"username\":\"zolotov\",\"resource_state\":2,\"firstname\":\"Vasili\",\"lastname\":\"Zolotov\",\"city\":\"Sausalito\",\"state\":\"California\",\"country\":\"United
        States\",\"sex\":\"M\",\"premium\":false,\"summit\":false,\"created_at\":\"2012-05-13T18:59:40Z\",\"updated_at\":\"2018-09-30T19:27:07Z\",\"badge_type_id\":0,\"profile_medium\":\"https://dgalywyr863hv.cloudfront.net/pictures/athletes/501473/4232963/1/medium.jpg\",\"profile\":\"https://dgalywyr863h[...]
