---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/activities/3958491750
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d3bc42dc058ca162a60c5597bca44f76"
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '600,30000'
      X-Ratelimit-Usage:
      - '3,113'
    body:
      encoding: UTF-8
      string: "{\"resource_state\":3,\"athlete\":{\"id\":24776507,\"resource_state\":1},\"name\":\"Bitche,
        please \U0001F973\",\"distance\":101529.0,\"moving_time\":12634,\"elapsed_time\":14965,\"total_elevation_gain\":1036.0,\"type\":\"Ride\",\"sport_type\":\"Ride\",\"workout_type\":12,\"id\":3958491750,\"start_date\":\"2020-08-24T07:03:53Z\",\"start_date_local\":\"2020-08-24T09:03:53Z\",\"timezone\":\"(GMT+01:00)
        Europe/Berlin\",\"utc_offset\":7200.0,\"location_city\":null,\"location_state\":null,\"location_country\":\"Deutschland\",\"achievement_count\":1,\"kudos_count\":70,\"comment_count\":3,\"athlete_count\":3,\"photo_count\":0,\"map\":{\"id\":\"a3958491750\",\"polyline\":\"o|gkHqxbo@y@T_@NoCdBo@Zc@Ha@Bs@CkEu@O@a@L[TW`@Wx@UjASp@Wj@]d@_AfAoAfAmA~@i@Z_@Ny@LQ@SCo@MkA]mAe@mA[iAOaACc@?oAJk@NeAd@o@RWBq@?k@GSIc@[]e@SCSLWX[z@Q`AM^IHo@\\\\MLIXA^r@rK`CnQVjCDj@NfKNvBT`BVhAj@nBz@zBd@`AtEbIdAfBTRJ@JEHMp@{AHIHCH?HBHFLRv@bCr@fBV^n@f@dAhANDTCJYJMNCJDJHj@lATVJFXHr@JlCZf@@`A?f@Mf@]TYp@iAd@s@x@gBP[\\\\a@`@[b@Od@Ed@J`@NRLXf@Z~@bAjEb@rAx@|Dv@pFVvAVdAn@lD\\\\bA|BlEx@v@r@f@jAr@b@`@TVpCfEb@\\\\tA^j@RLHVVlAtBb@fAXlAZhAVdAH`@Bb@?b@GdAmBdFeAnF[dAw@xBIZSdAI|@EvCBrGCnFEnAQ|BKx@w@xDiA~EsArGUt[...]
