---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/athlete/activities?page=1&per_page=72
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '600,30000'
      Etag:
      - W/"346fe9304a7950a3a4512cf638e0ca23"
      X-Ratelimit-Usage:
      - '108,10440'
      Strava-Athlete-Upload-Version:
      - 6f7fd50e7cfd1c110ca32218c3620537
    body:
      encoding: UTF-8
      string: '[{"resource_state":2,"athlete":{"id":26462176,"resource_state":1},"name":"Central
        Park with L","distance":9681.1,"moving_time":3150,"elapsed_time":3150,"total_elevation_gain":105.5,"type":"Run","workout_type":0,"id":1972463847,"external_id":"18177667835.tcx","upload_id":2109231946,"start_date":"2018-11-18T16:30:45Z","start_date_local":"2018-11-18T11:30:45Z","timezone":"(GMT-05:00)
        America/New_York","utc_offset":-18000.0,"start_latlng":[40.77,-73.98],"end_latlng":[40.77,-73.98],"location_city":null,"location_state":null,"location_country":"","start_latitude":40.77,"start_longitude":-73.98,"achievement_count":9,"kudos_count":7,"comment_count":0,"athlete_count":3,"photo_count":0,"map":{"id":"a1972463847","summary_polyline":"_iywFn`pbMmBgB\\uKgNwK`@aNwKgOeEcCmHd@eGwH}OeFqQ{NuDoQiYoTmLsBqHfAmLuKwLaAwFsG}@lAfAhEg@pCeMcFcG~I}@dFr@tCpDr@`CgFdJSpDxIxD~CfC`IpLtHnCdFnInBfFhMlFpC|K}@hK`L`IdApRhXvPlBzAvFvPrI|JvNxAVlIuF~At@","resource_state":2},"trainer":false,"commute":false,"manual":false,"private":false,"visibility":"everyone","flagged":false,"gear_id":"g3423618","from_accepted_tag":false,"average_speed":3.073,"max_speed":4.1,"has_heartrate":true,"average_heartrate":157.2,"max_heartrate":188.0,"heartrate_opt_out":false,"display_hide_heartrate_option":false,"elev_high":38.1,"elev_low":5.7,"pr_count":3,"total_photo_count":0,"has_kudoed":false,"suffer_score":93},{"resource_state":2,"athlete":{"id":26462176,"resource_state":1},"name":"Central
        Park with L","distance":8449.8,"moving_time":3194,"elapsed_time":3201,"total_elevation_gain":74.2,"type":"Run","workout_type":0,"id":1961422138,"external_id":"18058932742.tcx","upload_id":2097849306,"start_date":"2018-11-12T22:12:47Z","start_date_local":"2018-11-12T17:12:47Z","timezone":"(GMT-05:00)
        America/New_York","utc_offset":-18000.0,"start_latlng":[40.77,-73.98],"end_latlng":[40.77,-73.98],[...]
[...]
- request:
    method: get
    uri: https://www.strava.com/api/v3/athlete/activities?page=3&per_page=72
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '600,30000'
      Etag:
      - W/"4f53cda18c2baa0c0354bb5f9a3ecbe5"
      X-Ratelimit-Usage:
      - '110,10442'
      Strava-Athlete-Upload-Version:
      - bee01ec89c12a5cd003abd7ebb29c956
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Fri, 23 Nov 2018 20:11:43 GMT
recorded_with: VCR 4.0.0
