---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/clubs/108605/activities?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Strava-Club-Activities-Version:
      - 67f98de85df5db077f0bb0def05833bb/1543073138167
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '600,30000'
      Etag:
      - W/"aa674442b0be5a454c8d3939f26ee77a"
      X-Ratelimit-Usage:
      - '89,7923'
    body:
      encoding: UTF-8
      string: '[{"resource_state":2,"athlete":{"resource_state":2,"firstname":"Lucille","lastname":"O."},"name":"Morning
        Run","distance":0.0,"moving_time":0,"elapsed_time":0,"total_elevation_gain":0.0,"type":"Run","workout_type":0},{"resource_state":2,"athlete":{"resource_state":2,"firstname":"Vincent","lastname":"L."},"name":"Morning
        Run","distance":1612.9,"moving_time":432,"elapsed_time":530,"total_elevation_gain":0.0,"type":"Run","workout_type":null},{"resource_state":2,"athlete":{"resource_state":2,"firstname":"Hien
        Frances","lastname":"T."},"name":"Run for Stand Up To Cancer","distance":7004.3,"moving_time":3659,"elapsed_time":3659,"total_elevation_gain":0.0,"type":"Run","workout_type":null},{"resou[...]
[...]
- request:
    method: get
    uri: https://www.strava.com/api/v3/clubs/108605/activities?page=8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Strava-Club-Activities-Version:
      - 1b1a1b471b9187703314607fcf1e72bd/1543073152741
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '600,30000'
      Etag:
      - W/"4f53cda18c2baa0c0354bb5f9a3ecbe5"
      X-Ratelimit-Usage:
      - '96,7930'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sat, 24 Nov 2018 15:25:58 GMT
recorded_with: VCR 4.0.0
