---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/athlete/activities?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Usage:
      - '10,153'
      X-Ratelimit-Limit:
      - '200,2000'
      X-Readratelimit-Limit:
      - '100,1000'
      Etag:
      - W/"8755f3f4af2322b9acab4fd232703108"
      X-Readratelimit-Usage:
      - '10,153'
    body:
      encoding: UTF-8
      string: "[{\"resource_state\":2,\"athlete\":{\"id\":26462176,\"resource_state\":1},\"name\":\"Run
        with Artyom\",\"distance\":22601.3,\"moving_time\":7772,\"elapsed_time\":7792,\"total_elevation_gain\":202.0,\"type\":\"Run\",\"sport_type\":\"Run\",\"workout_type\":null,\"id\":16181809559,\"start_date\":\"2025-10-18T12:49:52Z\",\"start_date_local\":\"2025-10-18T08:49:52Z\",\"timezone\":\"(GMT-05:00)
        America/New_York\",\"utc_offset\":-14400.0,\"location_city\":null,\"location_state\":null,\"location_country\":null,\"achievement_count\":4,\"kudos_count\":7,\"comment_count\":0,\"athlete_count\":3,\"photo_count\":0,\"map\":{\"id\":\"a16181809559\",\"summary_polyline\":\"khwwFdvsbMgBeBVk@u@WkAB}AmB}DgD}DeBQo@YQkAYeFkCiCkCaOuIoB}AuAk@c@@_@_@A]uB}AF{@v@qB|@aFjAeEQi@y@a@Qo@~AqGPEv@PPsBf@k@Ea@_AqAsBsBs@g@Pg@q@^gAqDy@Dq@e@y@EYkDs@Pc@OVo@x@ADd@x@s@Zs@PgCdAaB}@tGeAnCc@Hi@UGaBP}Al@gBJuAZu@I{BjBoEPyBIsAo@y@cGmCgEyDo@wBTwBfAoDCmAkAoCq@w@_D{AgCmFyCuBmAWiExAkAOmC_Cw@oAc@sAcAoAaC@iBy@{Ci@eCmA_B_BkAkBcCmBaFgCkA{AUkAq@uCd@oE?gAYgAs@gAiBw@uAmAmEwCiAc@c@JHKK_@}HsF_CiAuBUqBJ{A_@gBVqBxAeAMmEmCsG}H{@OgDJqCa@eBu@wAgBw@cCk@Wq@Ve@`AFrAvAdCCzAq@pAoAGgDwDiBiAwA]_Bb@uAbBy@fBk@xDKhCYhAJhAbA`BtAJl@QVi@`@eClAyAbDQxAe@jBZnAnA~AjHp@r@nBX\\\\^Vh@p@pEbBlDdEhCzCjAfA|@rAbDlAjA~BP`AQ~A|@j@pAfAhF|AnCpApAfCj@xCb@~EmAxBXxAfAxAtBfCnEpAb@xBG`Dd@`ElHv@d@tC`DtEpI~Bx@~AL`E]rAD~@\\\\f@d@ZxAJ`Bd@v@pEpCvE`BjBhAlApA`BdDtA`B|F~El@?fBaAdBoCPmB|@mBf@oCG_Bq@_AuHuDw@u@gAgBu@sDzAsEBw@Eu@}@wBq@o@uCiAw@eAQeAkAcCw@o@kCiAqAMyCrAmAGyBeB{AsDy@iA}@SwAJkIaCyBaBaBcCsAiA}GuD_AcAaBoG@kAZqBAwBeAuAkEcCmEeDWMg@Lc@_@@]qA_Aw@UyD{CsB_AgAMaCVy@a@iBIuCbBiCq@sCeB{GkIgAWsCJsFcAcBcB{@qC_Aa@Y?WZSp@EdAhAfCNn@ElA]l@]Z]CoFqE}BeAgB?eArAyArC_@dBObFU|ADbA`@l@lBp@t@g@Tu@LqBpA{A|B@~By@xB|@nBnCr@rEx@p@tB~@n@hAfAbFl@vA~BrB|EbB`Av@zCvFnAn@rDKp@X`AvBfAbFxBhDbEzBvDOxC_AdBDfDrBjB`DbBbD`B\\\\pCUjA\\\\rBjBxBnEvF~FzCpGrCzAnIq@jA`@x@v@f@pDb@z@bCdB`JjD|@n@dAtAxA~CvAjB\",\"resource_state\":2},\"trainer\":false,\"commute\":false,\"manual\":false,\"private\":false,\"visibility\":\"everyone\",\"flagged\":false,\"gear_id\":\"g19999385\",\"start_latlng\":[40.756707,-73.997949],\"end_latlng\":[40.770385,-73.978895],\"average_speed\":2.908,\"max_speed\":7.1,\"average_cadence\":78.7,\"average_temp\":20,\"has_heartrate\":true,\"average_heartrate\":159.6,\"max_heartrate\":174.0,\"heartrate_opt_out\":false,\"display_hide_heartrate_option\":true,\"elev_high\":48.2,\"elev_low\":10.6,\"upload_id\":17265595469,\"upload_id_str\":\"17265595469\",\"external_id\":\"garmin_ping_492266071674\",\"from_accepted_tag\":false,\"pr_count\":1,\"total_photo_count\":4,\"has_kudoed\":false,\"suffer_score\":480.0},{\"resource_state\":2,\"athlete\":{\"id\":26462176,\"resource_state\":1},\"name\":\"Bagel
        Run \U0001F96F\",\"distance\":12900.8,\"moving_time\":3947,\"elapsed_time\":3968,\"total_elevation_gain\":24.0,\"type\":\"Run\",\"sport_type\":\"Run\",\"workout_type\":null,\"id\":16150076848,\"start_date\":\"2025-10-15T14:24:27Z\",\"start_date_local\":\"2025-10-15T10:24:27Z\",\"timezone\":\"(GMT-05:00)
        America/New_York\",\"utc_offset\":-14400.0,\"location_city\":null,\"location_state[...]
[...]
