---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/athletes/26462176/routes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Usage:
      - '3,227'
      X-Ratelimit-Limit:
      - '200,2000'
      X-Readratelimit-Limit:
      - '100,1000'
      Etag:
      - W/"7f274b7c0593ed47258d43c7c0291806"
      X-Readratelimit-Usage:
      - '3,226'
    body:
      encoding: UTF-8
      string: '[{"athlete":{"id":26462176,"username":"dblockdotorg","resource_state":2,"firstname":"Daniel","lastname":"Doubrovkine","bio":"@dblockdotorg
        everywhere. Running in traffic since 2017 \u0026 blogging about it at http://run.dblock.org.
        Former CTO @Artsy. NYC marathon in 2018! I also made a Strava bot for Slack,
        https://slava.playplay.io.","city":"New York","state":"NY","country":"","sex":"M","premium":true,"summit":true,"created_at":"2017-11-28T19:05:35Z","updated_at":"2025-10-18T23:04:28Z","badge_type_id":1,"weight":90.1,"profile_medium":"https://dgalywyr863hv.cloudfront.net/pictures/athletes/26462176/7677115/2/medium.jpg","profile":"https://dgalywyr863hv.cloudfront.net/pictures/athletes/26462176/7677115/2/large.jpg","friend":null,"follower":null},"description":null,"distance":5639.970997741021,"elevation_gain":19.770000000000003,"id":3329485690369457990,"id_str":"3329485690369457990","map":{"id":"r3329485690369457990","summary_polyline":"q`wwFhvtbM}CvJEN@@IPC?_BeAm@fBzP|KlAX@ZDPLPA?hNvDlCGhB@f@P~@l@N?n@m@^O^DPDFBHGL_ARm@CAFg@PQP?tGl@@SdGj@ZGJS|CZCd@nFj@@IRYbEb@IdAXHE^NBeAhD|@h@GZ?j@J@FHFZAh@H??OBIl@c@BPD?CHUHONCF@RHFIGASBGNOTIBIE?CQm@b@CH?NI?@i@DALQBOCIQIAE@INAHQVHJ?JIpA}DwCa@a@KiBUMIsBYFu@oFk@C`@s@SmAMD_AYAHSyC_@wBQmFk@c@[g@HEZ?XSbAO\\UfAE?Gb@IFGCQE_@E_@No@l@O?@?aAm@g@QiBAmCFiNwD@?MQEQA[mAYmYiRpGjEn@iBGIpEsNLIB[|B|AUM`@uA","resource_state":2},"map_urls":{"url":"https://d3o5xota0a1fcr.cloudfront.net/v6/maps/OG5TNS3QDX5WP26P6JVOHQILLODNMUYMVAXVGYZICSZSBDR5TC4LG3BVVFJAC4AMRR2VJDCFCCSYKLSFSLVJ4DKSROIA74FVWZFF7EA=","retina_url":"https://d3o5xota0a1fcr.cloudfront.net/v6/maps/TCPBTCT3QLDKMNDOLPW22UF4KLBHC6V3JRV65ZQNJKDW3D7EOGFMQH3L3W2Y77VOXAFPPP4RDR3QIEOONWUYMXSZCKNWMNUVBV3JE3I=","light_url":"https://d3o5xota0a1fcr.cloudfront.net/v6/maps/TCPBTCT3QLDKMNDOLPW22UF4KLBHC6V3JRV65ZQNJKDW3D7EOGFMQH3L3W2Y77VOXAFPPP4RDR3QIEOONWUYMXSZCKNWMNUVBV3JE3I=","dark_url":"https://d3o5xota0a1fcr.cloudfront.net/v6/maps/ECIXXHEUP6ENKPRB4MWX7UEWTJSQBHWBBZQ676PZGE33V3QGPWMWMQ3N7YHEVSZTINOJRTBEOHLENYJJUAFRAHWFCLARRYDMGON4IKI="},"name":"Little
        Island","private":true,"resource_state":2,"starred":true,"sub_type":1,"created_at":"2025-02-25T15:07:16Z","updated_at":"2025-02-25T15:07:27Z","timestamp":1740496036,"type":2,"estimated_moving_time":2021,"waypoints":[]},{"athlete":{"id":26462176,"username":"dblockdotorg","resource_state":2,"firstname":"Daniel","lastname":"Doubrovkine","bio":"@dblockdotorg
        everywhere. Running in traffic since 2017 \u0026 blogging about it at http://run.dblock.org.
        Former CTO @Artsy. NYC marathon in 2018! I also made a Strava bot for Slack,
        https://slava.playplay.io.","city":"New York","state":"NY","country":"","sex":"M","premium":true,"summit":true,"created_at":"2017-11-28T19:05:35Z","updated_at":"202[...]
