---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/athletes/26462176/stats
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '600,30000'
      Etag:
      - W/"1a7be40259d5fcd58615acce3d5a461f"
      X-Ratelimit-Usage:
      - '92,7524'
    body:
      encoding: UTF-8
      string: '{"biggest_ride_distance":null,"biggest_climb_elevation_gain":null,"recent_ride_totals":{"count":0,"distance":0.0,"moving_time":0,"elapsed_time":0,"elevation_gain":0.0,"achievement_count":0},"recent_run_totals":{"count":7,"distance":78049.90087890625,"moving_time":25647,"elapsed_time":26952,"elevation_gain":595.4644241333008,"achievement_count":19},"recent_swim_totals":{"count":0,"distance":0.0,"moving_time":0,"elapsed_time":0,"elevation_gain":0.0,"achievement_count":0},"ytd_ride_totals":{"count":0,"distance":0,"moving_time":0,"elapsed_time":0,"elevation_gain":0},"ytd_run_totals":{"count":99,"distance":1138793,"moving_time":352151,"elapsed_time":365804,"elevation_gain":7505},"ytd_swim_totals":{"count":0,"distance":0,"moving_time":0,"elapsed_time":0,"elevation_gain":0},"all_ride_totals":{"count":0,"distance":0,"moving_time":0,"elapsed_time":0,"elevation_gain":0},"all_run_totals":{"count":128,"distance":1473394,"moving_time":459550,"elapsed_time":474808,"elevation_gain":9347},"all_swim_totals":{"count":0,"distance":0,"moving_time":0,"elapsed_time":0,"elevation_gain":0}}'
  recorded_at: Wed, 28 Nov 2018 13:58:42 GMT
recorded_with: VCR 4.0.0
