---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/athlete/activities?after=1541088000&before=1543683600
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Usage:
      - '9,152'
      X-Ratelimit-Limit:
      - '200,2000'
      X-Readratelimit-Limit:
      - '100,1000'
      Etag:
      - W/"257523d9e7ae5bc73b07cd29bacfa0f1"
      X-Readratelimit-Usage:
      - '9,152'
    body:
      encoding: UTF-8
      string: '[{"resource_state":2,"athlete":{"id":26462176,"resource_state":1},"name":"Regular
        Loop #NYRRVirtualRacing","distance":13994.6,"moving_time":4496,"elapsed_time":4626,"total_elevation_gain":87.6,"type":"Run","sport_type":"Run","workout_type":1,"id":1990081217,"start_date":"2018-11-28T20:11:32Z","start_date_local":"2018-11-28T15:11:32Z","timezone":"(GMT-05:00)
        America/New_York","utc_offset":-18000.0,"location_city":null,"location_state":null,"location_country":null,"achievement_count":14,"kudos_count":8,"comment_count":0,"athlete_count":1,"photo_count":0,"map":{"id":"a1990081217","summary_polyline":"gwrwF|gqbM{DoD}@_H`DkL{C_Eb@aDnJkZE{CvGkBxKaKr{@nJh\\nI`PnGvFlF`BdNs@~BbAnUw@pIx@pc@xEhZiArIbAxPzH`IzJ~PlHbOxDpQoEdNkFnCx@`TcBfIuB^oFaF_DtByTkCw@}EmDkBwCv@oApCcRqCkEeGk@gJaFiBevBiSiA}K`B{b@b^_iAtBuKwCoG","resource_state":2},"trainer":false,"commute":false,"manual":false,"private":false,"visibility":"everyone","flagged":false,"gear_id":"g3423618","start_latlng":[40.733488,-73.985426],"end_latlng":[40.733736,-73.986583],"average_speed":3.025,"max_speed":4.1,"has_heartrate":true,"average_heartrate":159.2,"max_heartrate":200.0,"heartrate_opt_out":false,"display_hide_heartrate_option":true,"elev_high":36.5,"elev_low":-5.2,"upload_id":2127579116,"upload_id_str":"2127579116","external_id":"18360154371.tcx","from_accepted_tag":false,"pr_count":4,"total_photo_count":0,"has_kudoed":false,"suffer_score":147.0},{"resource_state":2,"athlete":{"id":26462176,"resource_state":1},"name":"Central
        Park with L","distance":9681.1,"moving_time":3150,"elapsed_time":3150,"total_elevation_gain":105.5,"type":"Run","sport_type":"Run","workout_type":0,"id":1972463847,"start_date":"2018-11-18T16:30:45Z","start_date_local":"2018-11-18T11:30:45Z","timezone":"(GMT-05:00)
        America/New_York","utc_offset":-18000.0,"location_city":null,"location_state":null,"location_country":null,"achievement_count":31,[...]
