---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/athlete
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Usage:
      - '68,211'
      X-Ratelimit-Limit:
      - '200,2000'
      X-Readratelimit-Limit:
      - '100,1000'
      Etag:
      - W/"0f462d7188e0ce45f0bbc8d6e9889bcc"
      X-Readratelimit-Usage:
      - '67,210'
    body:
      encoding: UTF-8
      string: '{"id":26462176,"username":"dblockdotorg","resource_state":3,"firstname":"Daniel","lastname":"Doubrovkine","bio":"@dblockdotorg
        everywhere. Running in traffic since 2017 \u0026 blogging about it at http://run.dblock.org.
        Former CTO @Artsy. NYC marathon in 2018! I also made a Strava bot for Slack,
        https://slava.playplay.io.","city":"New York","state":"NY","country":"","sex":"M","premium":true,"summit":true,"created_at":"2017-11-28T19:05:35Z","updated_at":"2025-09-27T12:57:32Z","badge_type_id":1,"weight":95.255,"profile_medium":"https://dgalywyr863hv.cloudfront.net/pictures/athletes/26462176/7677115/2/medium.jpg","profile":"https://dgalywyr863hv.cloudfront.net/pictures/athletes/26462176/7677115/2/large.jpg","friend":null,"follower":null,"blocked":false,"can_follow":true,"follower_count":211,"friend_count":286,"mutual_friend_count":0,"athlete_type":1,"date_preference":"%m/%d/%Y","measurement_preference":"feet","clubs":[{"id":108605,"resource_state":2,"name":"New
        York Road Runners","profile_medium":"https://dgalywyr863hv.cloudfront.net/pictures/clubs/108605/8433029/2/medium.jpg","profile":"https://dgalywyr863hv.cloudfront.net/pictures/clubs/108605/8433029/2/large.jpg","cover_photo":"https://dgalywyr863hv.cloudfront.net/pictures/clubs/108605/5794562/3/large.jpg","cover_photo_small":"https://dgalywyr863hv.cloudfront.net/pictures/clubs/108605/5794562/3/small.jpg","activity_types":["Run","VirtualRun","Wheelchair"],"activity_types_icon":"sports_run_normal","dimensions":["distance","num_activities","best_activities_distance","elev_gain","moving_time","velocity"],"sport_type":"running","localized_sport_type":"Running","city":"New
        York","state":"New York","country":"United States","private":false,"member_count":0,"featured":false,"verified":true,"url":"nyrr","membership":"member","admin":false,"owner":false},{"id":329962,"resource_state":2,"name":"2018
        United NYC Half Marathon Runners","profile_medium":"https://dgalywyr863hv.cloudfront.net/pictures/clubs/329962/7773687/1/medium.jpg","profile":"https://dgalywyr863hv.cloudfront.net/pictures/clubs/329962/7773687/1/large.jpg","cover_photo":"https://dgalywyr863hv.cloudfront.net/pictures/clubs/329962/7773664/2/large.jpg","cover_photo_small":"https://dgalywyr863hv.cloudfront.net/pictures/clubs/329962/7773664/2/small.jpg","activity_types":["R[...]
