---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/athlete/zones
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d691ba870a461d31bb92a3b37cccd791"
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '600,30000'
      X-Ratelimit-Usage:
      - '7,193'
    body:
      encoding: UTF-8
      string: '{"heart_rate":{"custom_zones":false,"zones":[{"min":0,"max":110},{"min":110,"max":146},{"min":146,"max":164},{"min":164,"max":182},{"min":182,"max":-1}]},"power":{"zones":[{"min":0,"max":105},{"min":106,"max":143},{"min":144,"max":171},{"min":172,"max":200},{"min":201,"max":228},{"min":229,"max":285},{"min":286,"max":-1}]}}'
  recorded_at: Tue, 02 Aug 2022 14:29:40 GMT
- request:
    method: get
    uri: https://www.strava.com/api/v3/athlete/zones
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d691ba870a461d31bb92a3b37cccd791"
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '600,30000'
      X-Ratelimit-Usage:
      - '8,194'
    body:
      encoding: UTF-8
      string: '{"heart_rate":{"custom_zones":false,"zones":[{"min":0,"max":110},{"min":110,"max":146},{"min":146,"max":164},{"min":164,"max":182},{"min":182,"max":-1}]},"power":{"zones":[{"min":0,"max":105},{"min":106,"max":143},{"min":144,"max":171},{"min":172,"max":200},{"min":201,"max":228},{"min":229,"max":285},{"min":286,"max":-1}]}}'
  recorded_at: Tue, 02 Aug 2022 14:29:43 GMT
recorded_with: VCR 6.1.0
