---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/athlete/activities?after=1541044800&before=1546318800
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '600,30000'
      Etag:
      - W/"75de0a9b576af578870737822a9dee50"
      X-Ratelimit-Usage:
      - '3,10791'
      Strava-Athlete-Upload-Version:
      - e139126451d15dd59a9e10be7f346249
    body:
      encoding: UTF-8
      string: '[{"resource_state":2,"athlete":{"id":26462176,"resource_state":1},"name":"Another
        Hill Another Night","distance":9820.6,"moving_time":3249,"elapsed_time":3270,"total_elevation_gain":105.3,"type":"Run","workout_type":0,"id":1995207876,"external_id":"18418896538.tcx","upload_id":2132935150,"start_date":"2018-12-01T21:20:13Z","start_date_local":"2018-12-01T16:20:13Z","timezone":"(GMT-05:00)
        America/New_York","utc_offset":-18000.0,"start_latlng":[40.77,-73.98],"end_latlng":[40.77,-73.98],"location_city":null,"location_state":null,"location_country":"","start_latitude":40.77,"start_longitude":-73.98,"achievement_count":1,"kudos_count":6,"comment_count":0,"athlete_count":2,"photo_count":0,"map":{"id":"a1995207876","summary_polyline":"ufywFd_pbMmAf@uBuBx@qKaN{KZeNkKqOiEeBcHp@eGsIsMkCmR{NsCkH@iJmIqGiU}MsRj@gKkLkMmAqEsGsChBxAtEgAfCyKmG{FdF}@xLt@pBhCXjCcGfI]~DrInE~C|CvJhK`GxDtGnH~@bCvIbDtDbTlAdGnJvKfCdRlWtOlAzBlGjOvHjLxNdEHfEyDtBj@","resource_state":2},"trainer":false,"commute":false,"manual":false,"private":false,"visibility":"everyone","flagged":false,"gear_id":"g3423618","from_accepted_tag":false,"average_speed":3.023,"max_speed":4.5,"has_heartrate":true,"average_heartrate":163.3,"max_heartrate":187.0,"heartrate_opt_out":false,"display_hide_heartrate_option":false,"elev_high":37.1,"elev_low":5.7,"pr_count":0,"total_photo_count":0,"has_kudoed":false,"suffer_score":130},{"resource_state":2,"athlete":{"id":26462176,"resource_state":1},"name":"Regular
        Loop #NYRRVirtualRacing","distance":13994.6,"moving_time":4496,"elapsed_time":4626,"total_elevation_gain":87.6,"type":"Run","workout_type":1,"id":1990081217,"external_id":"18360154371.tcx","upload_id":2127579116,"start_date":"2018-11-28T20:11:32Z","start_date_local":"2018-11-28T15:11:32Z","timezone":"(GMT-05:00)
        America/New_York","utc_offset":-18000.0,"start_latlng":[40.73,-73.99],"end_latlng":[[...]
