---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/athlete/clubs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Usage:
      - '72,215'
      X-Ratelimit-Limit:
      - '200,2000'
      X-Readratelimit-Limit:
      - '100,1000'
      Etag:
      - W/"6486f380e6452ef843b249664a1d099b"
      X-Readratelimit-Usage:
      - '71,214'
    body:
      encoding: UTF-8
      string: '[{"id":108605,"resource_state":2,"name":"New York Road Runners","profile_medium":"https://dgalywyr863hv.cloudfront.net/pictures/clubs/108605/8433029/2/medium.jpg","profile":"https://dgalywyr863hv.cloudfront.net/pictures/clubs/108605/8433029/2/large.jpg","cover_photo":"https://dgalywyr863hv.cloudfront.net/pictures/clubs/108605/5794562/3/large.jpg","cover_photo_small":"https://dgalywyr863hv.cloudfront.net/pictures/clubs/108605/5794562/3/small.jpg","activity_types":["Run","VirtualRun","Wheelchair"],"activity_types_icon":"sports_run_normal","dimensions":["distance","num_activities","best_activities_distance","elev_gain","moving_time","velocity"],"sport_type":"running","localized_sport_type":"Running","city":"New
        York","state":"New York","country":"United States","private":false,"member_count":327744,"featured":false,"verified":true,"url":"nyrr"},{"id":329962,"resource_state":2,"name":"2018
        United NYC Half Marathon Runners","profile_medium":"https://dgalywyr863hv.cloudfront.net/pictures/clubs/329962/7773687/1/medium.jpg","profile":"https://dgalywyr863hv.cloudfront.net/pictures/clubs/329962/7773687/1/large.jpg","cover_photo":"https://dgalywyr863hv.cloudfront.net/pictures/clubs/329962/7773664/2/large.jpg","cover_photo_small":"https://dgalywyr863hv.cloudfront.net/pictures/clubs/329962/7773664/2/small.jpg","activity_types":["[...]
