---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/athlete/zones
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Usage:
      - '70,213'
      X-Ratelimit-Limit:
      - '200,2000'
      X-Readratelimit-Limit:
      - '100,1000'
      Etag:
      - W/"f11459eb09817f5955d5fcf00894afb6"
      X-Readratelimit-Usage:
      - '69,212'
    body:
      encoding: UTF-8
      string: '{"heart_rate":{"custom_zones":false,"zones":[{"min":0,"max":111},{"min":111,"max":139},{"min":139,"max":152},{"min":152,"max":166},{"min":166,"max":-1}]}}'
  recorded_at: Sat, 18 Oct 2025 23:04:28 GMT
recorded_with: VCR 6.3.1
