---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/athlete/clubs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '600,30000'
      Etag:
      - W/"a2c4981a1ca163168d17fdec0f0257cf"
      X-Ratelimit-Usage:
      - '175,7742'
    body:
      encoding: UTF-8
      string: '[{"id":108605,"resource_state":2,"name":"New York Road Runners","profile_medium":"https://dgalywyr863hv.cloudfront.net/pictures/clubs/108605/8433029/1/medium.jpg","profile":"https://dgalywyr863hv.cloudfront.net/pictures/clubs/108605/8433029/1/large.jpg","cover_photo":"https://dgalywyr863hv.cloudfront.net/pictures/clubs/108605/5794562/3/large.jpg","cover_photo_small":"https://dgalywyr863hv.cloudfront.net/pictures/clubs/108605/5794562/3/small.jpg","sport_type":"running","city":"New
        York","state":"New York","country":"United States","private":false,"member_count":21193,"featured":false,"verified":true,"url":"nyrr"},{"id":43749,"resource_state":2,"name":"Orchard
        Street Runners","profile_medium":"https://dgalywyr863hv.cloudfront.net/pictures/clubs/43749/1121181/4/medium.jpg","profile":"https://dgalywyr863hv.cloudfront.net/pictures/clubs/43749/1121181/4/large.jpg","cover_photo":"https://dgalywyr863hv.cloudfront.net/pictures/clubs/43749/8867279/3/large.jpg","cover_photo_small":"https://dgalywyr863hv.cloudfront.net/pictures/clubs/43749/8867279/3/small.jpg","sport_type":"running","city":"New
    [...]
