---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/athlete/zones
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '600,30000'
      Etag:
      - W/"4261668f4f0ab5e0c030c2e03c48ad83"
      X-Ratelimit-Usage:
      - '1,7343'
    body:
      encoding: UTF-8
      string: '{"power":{"zones":[{"min":0,"max":10}]},"heart_rate":{"custom_zones":false,"zones":[{"min":0,"max":123},{"min":123,"max":153},{"min":153,"max":169},{"min":169,"max":184},{"min":184,"max":-1}]}}'
  recorded_at: Wed, 28 Nov 2018 13:35:50 GMT
recorded_with: VCR 4.0.0
