---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/clubs/108605/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Usage:
      - '77,220'
      X-Ratelimit-Limit:
      - '200,2000'
      X-Readratelimit-Limit:
      - '100,1000'
      Etag:
      - W/"527895be64d3fbefba0b7d425047d3ca"
      X-Readratelimit-Usage:
      - '76,219'
    body:
      encoding: UTF-8
      string: '[{"resource_state":2,"firstname":"Alexandra","lastname":"G.","membership":"member","admin":false,"owner":false},{"resource_state":2,"firstname":"Alla","lastname":"R.","membership":"member","admin":false,"owner":false},{"resource_state":2,"firstname":"Ash","lastname":"L.","membership":"member","admin":false,"owner":false},{"resource_state":2,"firstname":"Beckham","lastname":"T.","membership":"member","admin":false,"owner":false},{"resource_state":2,"firstname":"Caro","lastname":"H.","membership":"member","admin":false,"owner":false},{"resource_state":2,"firstname":"Charlie","lastname":"O.","membersh[...]
