---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/clubs/209437/activities
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Usage:
      - '3,5'
      X-Ratelimit-Limit:
      - '200,2000'
      X-Readratelimit-Limit:
      - '100,1000'
      Etag:
      - W/"62325d1702b2df5f565fc8d845b99d6f"
      X-Readratelimit-Usage:
      - '3,5'
    body:
      encoding: UTF-8
      string: "[{\"resource_state\":2,\"athlete\":{\"resource_state\":2,\"firstname\":\"ethan\",\"lastname\":\"L.\"},\"name\":\"Run
        for The Nature Conservancy\",\"distance\":10399.9,\"moving_time\":6021,\"elapsed_time\":6021,\"total_elevation_gain\":0,\"type\":\"Run\",\"sport_type\":\"Run\",\"workout_type\":null},{\"resource_state\":2,\"athlete\":{\"resource_state\":2,\"firstname\":\"Jeanie\",\"lastname\":\"K.\"},\"name\":\"Morning
        Run\",\"distance\":1678.4,\"moving_time\":600,\"elapsed_time\":606,\"total_elevation_gain\":6.8,\"type\":\"Run\",\"sport_type\":\"Run\",\"workout_type\":null},{\"resource_state\":2,\"athlete\":{\"resource_state\":2,\"firstname\":\"Lawrence\",\"lastname\":\"L.\"},\"name\":\"Lunch
        Run\",\"distance\":1644.5,\"moving_time\":714,\"elapsed_time\":726,\"total_el[...]
