---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/clubs/108605
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '600,30000'
      Etag:
      - W/"d54a1e05a446de34b9d05983f80f7175"
      X-Ratelimit-Usage:
      - '92,8072'
    body:
      encoding: UTF-8
      string: '{"id":108605,"resource_state":3,"name":"New York Road Runners","profile_medium":"https://dgalywyr863hv.cloudfront.net/pictures/clubs/108605/8433029/1/medium.jpg","profile":"https://dgalywyr863hv.cloudfront.net/pictures/clubs/108605/8433029/1/large.jpg","cover_photo":"https://dgalywyr863hv.cloudfront.net/pictures/clubs/108605/5794562/3/large.jpg","cover_photo_small":"https://dgalywyr863hv.cloudfront.net/pictures/clubs/108605/5794562/3/small.jpg","sport_type":"running","city":"New
        York","state":"New York","country":"United States","private":false,"member_count":21703,"featured":false,"verified":true,"url":"nyrr","membership":null,"admin":false,"owner":false,"description":"New
        York Road Runners is a non-profit community running organization, founded
        in 1958, whose mission is to help and inspire people through running. We serve
        nearly 600,000 people—including 267,000 youth—annually.","club_type":"casual_club","following_count":0}'
  recorded_at: Fri, 30 Nov 2018 15:07:45 GMT
recorded_with: VCR 4.0.0
