---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/clubs/108605/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '600,30000'
      Etag:
      - W/"4dd4a9c165aca703d9cebd95232d4cec"
      X-Ratelimit-Usage:
      - '91,8071'
    body:
      encoding: UTF-8
      string: "[{\"resource_state\":2,\"firstname\":\"   Davy-Michel\",\"lastname\":\"
        .\",\"membership\":\"member\",\"admin\":false,\"owner\":false},{\"resource_state\":2,\"firstname\":\"
        \ Scott\",\"lastname\":\" .\",\"membership\":\"member\",\"admin\":false,\"owner\":false},{\"resource_state\":2,\"firstname\":\"
        ALP\",\"lastname\":\"\U0001F1F9.\",\"membership\":\"member\",\"admin\":false,\"owner\":false},{\"resource_state\":2,\"firstname\":\"
        Christian\",\"lastname\":\"S.\",\"membership\":\"member\",\"admin\":false,\"owner\":false},{\"resource_state\":2,\"firstname\":\"
        Oguzhan\",\"lastname\":\"O.\",\[...]
