---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/clubs/108605/activities
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Strava-Club-Activities-Version:
      - dfe4b1e5fcc4d4dafff3825619e72570/1543072658491
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '600,30000'
      Etag:
      - W/"7615345787d633acd72cc5ea68b5d3db"
      X-Ratelimit-Usage:
      - '1,7835'
    body:
      encoding: UTF-8
      string: '[{"resource_state":2,"athlete":{"resource_state":2,"firstname":"Hien
        Frances","lastname":"T."},"name":"Run for Stand Up To Cancer","distance":7004.3,"moving_time":3659,"elapsed_time":3659,"total_elevation_gain":0.0,"type":"Run","workout_type":null},{"resource_state":2,"athlete":{"resource_state":2,"firstname":"Maggie","lastname":"L."},"name":"Morning
        Run","distance":1924.3,"moving_time":698,"elapsed_time":891,"total_elevation_gain":35.1,"type":"Run","workout_type":0},{"resource_state":2,"athlete":{"resource_state":2,"firstname":"John","lastname":"F."},"name":"Morning
        Run","distance":3230.7,"moving_time":1118,"elapsed_time":1118,"total_elevation_gain":5.1,"type":"Run","workout_type":null},{"resource_state":2,"athlete":[...]
