---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/clubs/456773/group_events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"30e1ea5abc48c23112901953f5632e6f"
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '600,30000'
      X-Ratelimit-Usage:
      - '2,2'
    body:
      encoding: UTF-8
      string: "[{\"id\":339353,\"resource_state\":2,\"title\":\"Erste Gruppenfahrt
        (Ø25kmh)\",\"description\":\"\",\"club_id\":456773,\"club\":{\"id\":456773,\"resource_state\":1,\"name\":\"Rennrad
        Mainz Wiesbaden Rheinhessen\"},\"organizing_athlete\":{\"id\":24776507,\"username\":\"simonneutert\",\"resource_state\":2,\"firstname\":\"Simon\",\"lastname\":\"N\",\"bio\":null,\"city\":\"Mainz\",\"state\":\"Rheinland-Pfalz\",\"country\":\"Deutschland\",\"sex\":\"M\",\"premium\":true,\"summit\":true,\"created_at\":\"2017-09-05T10:41:23Z\",\"updated_at\":\"2021-07-14T14:36:45Z\",\"badge_type_id\":1,\"weight\":85.0,\"profile_medium\":\"https://dgalywyr863hv.cloudfront.net/pictures/athletes/24776507/7224071/6/medium.jpg\",\"profile\":\"https://dgalywyr863hv.cloudfront.net/pictures/athletes/24776507/7224071/6/large.jpg\",\"friend\":null,\"follower\":null,\"blocked\":false,\"can_follow\":true},\"activity_type\":\"Ride\",\"created_at\":\"2018-06-13T09:59:58Z\",\"route_id\":null,\"route\":null,\"women_only\":false,\"private\":false,\"skill_levels\":1,\"terrain\":0,\"upcoming_occurrences\":[\"2018-06-13T15:00:00Z\"],\"zone\":\"Europe/Berlin\",\"address\":\"Bootshaus,
        Mainz\",\"joined\":true,\"start_latlng\":[49.99241,8.28793]},{\"id\":339359,\"resource_state\":2,\"title\":\"Gemeinsam
        am Rhein entlang (Ø25kmh)\",\"description\":\"\",\"club_id\":456773,\"club\":{\"id\":456773,\"resource_state\":1,\"name\":\"Rennrad
        Mainz Wiesbaden Rheinhessen\"},\"organizing_athlete\":{\"id\":24776507,\"username\":\"simonneutert\",\"resource_state\":2,\"firstname\":\"Simon\",\"lastname\":\"N\",\"bio\":null,\"city\":\"Mainz\",\"state\":\"Rheinland-Pfalz\",\"country\":\"Deutschland\",\"sex\":\"M\",\"pre[...]
