---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/clubs/108605
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Usage:
      - '78,221'
      X-Ratelimit-Limit:
      - '200,2000'
      X-Readratelimit-Limit:
      - '100,1000'
      Etag:
      - W/"17eca33531577c140e8c066142c31fa4"
      X-Readratelimit-Usage:
      - '77,220'
    body:
      encoding: UTF-8
      string: '{"id":108605,"resource_state":3,"name":"New York Road Runners","profile_medium":"https://dgalywyr863hv.cloudfront.net/pictures/clubs/108605/8433029/2/medium.jpg","profile":"https://dgalywyr863hv.cloudfront.net/pictures/clubs/108605/8433029/2/large.jpg","cover_photo":"https://dgalywyr863hv.cloudfront.net/pictures/clubs/108605/5794562/3/large.jpg","cover_photo_small":"https://dgalywyr863hv.cloudfront.net/pictures/clubs/108605/5794562/3/small.jpg","activity_types":["Run","VirtualRun","Wheelchair"],"activity_types_icon":"sports_run_normal","dimensions":["distance","num_activities","best_activities_distance","elev_gain","moving_time","velocity"],"sport_type":"running","localized_sport_type":"Running","city":"New
        York","state":"New York","country":"United States","private":false,"member_count":327744,"featured":false,"verified":true,"url":"nyrr","membership":"member","admin":false,"owner":false,"description":"NYRR’s
        vision is to build healthier lives and stronger communities through the transformative
        power of running.\r\n \r\nAs a New York City-based nonprofit, we’re dedicated
        to transforming the health and well-being of our communities through inclusive
        and accessible running experiences, empowering all to achieve their potential.","club_type":"casual_club","following_count":44,"website":"http://www.nyrr.org"}'
  recorded_at: Sat, 18 Oct 2025 23:04:42 GMT
recorded_with: VCR 6.3.1
