---
http_interactions:
- request:
    method: post
    uri: https://www.strava.com/api/v3/activities
    body:
      encoding: UTF-8
      string: commute=false&description=Test+strava-ruby-client+activity.&distance=1000&elapsed_time=1234&name=strava-ruby-client+activity&photo_ids&sport_type=Run&start_date_local=2025-10-18+19%3A04%3A26+-0400&trainer=false
    headers:
      Authorization:
      - Bearer access-token
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Usage:
      - '66,209'
      X-Ratelimit-Limit:
      - '200,2000'
      X-Readratelimit-Limit:
      - '100,1000'
      Etag:
      - W/"e3fe276811ad1de4c7ee5d8729c8052c"
      X-Readratelimit-Usage:
      - ","
    body:
      encoding: UTF-8
      string: '{"resource_state":3,"athlete":{"id":26462176,"resource_state":1},"name":"strava-ruby-client
        activity","distance":1000.0,"moving_time":1234,"elapsed_time":1234,"total_elevation_gain":0,"type":"Run","sport_type":"Run","workout_type":null,"id":16185205521,"start_date":"2025-10-18T23:04:26Z","start_date_local":"2025-10-18T19:04:26Z","timezone":"(GMT-05:00)
        America/New_York","utc_offset":-14400.0,"location_city":null,"location_state":null,"location_country":null,"achievement_count":0,"kudos_count":0,"comment_count":0,"athlete_count":1,"photo_count":0,"map":{"id":"a16185205521","polyline":"","resource_state":3,"summary_polyline":""},"trainer":false,"commute":false,"manual":true,"private":false,"visibility":"everyone","flagged":false,"gear_id":"g26020551","start_latlng":[],"end_latlng":[],"average_speed":0.81,"max_speed":0,"has_heartrate":false,"heartrate_opt_out":false,"display_hide_heartrate_option":false,"upload_id":null,"external_id":null,"from_accepted_tag":false,"pr_count":0,"total_photo_count":0,"has_kudoed":false,"description":"Test
        strava-ruby-client activity.","calories":117.0,"perceived_exertion":null,"prefer_perceived_exertion":null,"segment_efforts":[],"best_efforts":[],"gear":{"id":"g26020551","primary":false,"name":"Adidas
        Adizero SL2","nickname":null,"resource_state":2,"retired":false,"distance":336329,"converted_distance":209.0},"photos":{"primary":null,"count":0},"stats_visibility":[{"type":"heart_rate","visibility":"everyone"},{"type":"pace","visibility":"everyone"},{"type":"power","visibility":"everyone"},{"type":"speed","visibility":"everyone"},{"type":"calories","visibility":"everyone"}],"hide_from_home":false,"embed_token":"23ff9a3ec9a2441017c2d86f2487c51944ecdc96","similar_activities":{"effort_count":0,"average_speed":0,"min_average_speed":0,"mid_average_speed":0,"max_average_speed":0,"pr_rank":null,"frequency_milestone":null,"trend":{"speeds":[],"current_activity_index":null,"min_speed":0,"mid_speed":0,"max_speed":0,"direction":0},"resource_state":2},"available_zones":["pace"]}'
  recorded_at: Sat, 18 Oct 2025 23:04:27 GMT
recorded_with: VCR 6.3.1
