---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/segments/explore?activity_type=running&bounds=36.372975,-94.220234,36.415949,-94.18367
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '600,30000'
      Etag:
      - W/"b2b0be39a4a2cf36b37e9da5104ddf3f"
      X-Ratelimit-Usage:
      - '96,8090'
    body:
      encoding: UTF-8
      string: '{"segments":[{"id":5699008,"resource_state":2,"name":"Compton Gardens
        hill","climb_category":0,"climb_category_desc":"NC","avg_grade":4.6,"start_latlng":[36.377702,-94.207242],"end_latlng":[36.375948,-94.207689],"elev_difference":9.6,"distance":203.4,"points":"s_`}Ehz~}PRFv@P`@Bj@Xd@Fh@PVFhAHLCDG","starred":false},{"id":8794067,"resource_state":2,"name":"The
        Full Crystal Bridges Hill Segment","climb_category":0,"climb_category_desc":"NC","avg_grade":4.8,"start_latlng":[36.385755,-94.203054],"end_latlng":[36.383246,-94.204826],"elev_difference":18.6,"distance":384.9,"points":"}qa}Eb`~}Pp@FdA^RJt@nARPVHb@Bb@JFLALS^?`@THv@OT?VLNR\\x@FFL?LI","starred":false},{"id":1694444,"resource_state":2,"name":"Old
        Tiger Track","climb_category":0,"climb_category_desc":"NC","avg_grade":0.0,"start_lat[...]
