---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/segments/explore?activity_type=running&bounds=36.372975,-94.220234,36.415949,-94.18367
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Usage:
      - '1,17'
      X-Ratelimit-Limit:
      - '200,2000'
      X-Readratelimit-Limit:
      - '100,1000'
      Etag:
      - W/"49c5004e723291416e257609c7d88fcd"
      X-Readratelimit-Usage:
      - '1,17'
    body:
      encoding: UTF-8
      string: '{"segments":[{"id":8794067,"resource_state":2,"name":"The Full Crystal
        Bridges Hill Segment","climb_category":0,"climb_category_desc":"NC","avg_grade":4.8,"start_latlng":[36.385755,-94.203054],"end_latlng":[36.383246,-94.204826],"elev_difference":18.6,"distance":384.9,"points":"}qa}Eb`~}Pp@FdA^RJt@nARPVHb@Bb@JFLALS^?`@THv@OT?VLNR\\x@FFL?LI","starred":false,"elevation_profile":"https://d3o5xota0a1fcr.cloudfront.net/v6/charts/D3JEH6HBWDBTKRYLIKNLJKS3GQGWLZSD2MC7GIAEOPPBS6GPVMZRTISRUGF344JNKPVAJM6FPH7FNJIA3XTEDI4K","local_legend_enabled":true},{"id":9008085,"resource_state":2,"name":"Bentonville
        Half - Mile 13","climb_category":0,"climb_category_desc":"NC","avg_grade":2.6,"start_latlng":[36.387284,-94.20343],"end_latlng":[36.37507,-94.207915],"elev_difference":42.8,"distance":1610.8,"points":"o{a}Elb~}PfAMh@OTC?CFCRCZB?BVDDDR@HBNADOIS?S@CF@LGL@ZCTBl@PH?\\RNP`@dARXHD^BLALDJ?XLDHALS^CL?NHND@XAn@QRBf@XZz@LNNCNOTCTDVPd@Hp@?z@NBCZBj@E\\Hf@?RB|@^TD^b@\\h@VNVLh@FRJdALPJL@h@TLDd@f@PDNNPXTPRB^?p@DNTl@f@`Ah@XBRJD?f@Lf@FZAn@BhAL^LF[...]
