---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/routes/16341573/export_gpx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/gpx+xml
      Status:
      - 200 OK
      X-Ratelimit-Usage:
      - '4,228'
      X-Ratelimit-Limit:
      - '200,2000'
      Content-Disposition:
      - attachment; filename="strava_Lower Manhattan Loop.gpx"; filename*=UTF-8''strava_Lower%20Manhattan%20Loop.gpx
      X-Readratelimit-Limit:
      - '100,1000'
      Content-Transfer-Encoding:
      - binary
      Etag:
      - W/"0fadc56706ca00406acce54188e92109"
      X-Readratelimit-Usage:
      - '4,227'
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <gpx creator="StravaGPX" version="1.1" xmlns="http://www.topografix.com/GPX/1/1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.topografix.com/GPX/1/1 http://www.topografix.com/GPX/1/1/gpx.xsd">
         <metadata>
          <name>Lower Manhattan Loop</name>
          <desc>My usual long run when I am too lazy to go to Central Park.</desc>
          <author>
           <name>Daniel Doubrovkine</name>
           <link href="https://www.strava.com/athletes/26462176"/>
          </author>
          <copyright author="OpenStreetMap contributors">
           <year>2020</year>
           <license>https://www.openstreetmap.org/copyright</license>
          </copyright>
          <link href="https://www.strava.com/routes/16341573"/>
         </metadata>
         <trk>
          <name>Lower Manhattan Loop</name>
          <desc>My usual long run when I am too lazy to go to Central Park.</desc>
          <link href="https://www.strava.com/routes/16341573"/>
          <type>running</type>
          <trkseg>
           <trkpt lat="40.733650000000004" lon="-73.98592000000001">
            <ele>9.760000000000002</ele>
           </trkpt>
           <trkpt lat="40.73337" lon="-73.98525000000001">
            <ele>9.09</ele>
           </trkpt>
           <trkpt lat="40.733980000931425" lon="-73.9848000040833">
            <ele>8.860000000000001</ele>
           </trkpt>
           <trkpt lat="40.734590000000004" lon="-73.98435">
            <ele>8.270000000000001</ele>
           </trkpt>
           <trkpt lat="40.7346" lon="-73.98435">
            <ele>8.270000000000001</ele>
         [...]
