---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/routes/16341573/export_gpx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/gpx+xml
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '600,30000'
      Etag:
      - W/"130bc64d110f93a9f77488d558ef99aa"
      X-Ratelimit-Usage:
      - '128,8880'
      Content-Disposition:
      - attachment; filename="strava_Lower Manhattan Loop.gpx"
      Content-Transfer-Encoding:
      - binary
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <gpx creator="StravaGPX" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.topografix.com/GPX/1/1 http://www.topografix.com/GPX/1/1/gpx.xsd" version="1.1" xmlns="http://www.topografix.com/GPX/1/1">
         <metadata>
          <name>Lower Manhattan Loop</name>
          <desc>My usual long run when I am too lazy to go to Central Park.</desc>
          <author>
           <name>Daniel Doubrovkine</name>
           <link href="https://www.strava.com/athletes/26462176"/>
          </author>
          <link href="https://www.strava.com/routes/16341573"/>
         </metadata>
         <trk>
          <name>Lower Manhattan Loop</name>
          <desc>My usual long run when I am too lazy to go to Central Park.</desc>
          <link href="https://www.strava.com/routes/16341573"/>
          <type>Run</type>
          <trkseg>
           <trkpt lat="40.733650000000004" lon="-73.98592000000001">
            <ele>9.55</ele>
           </trkpt>
           <trkpt lat="40.73337" lon="-73.98525000000001">
            <ele>9.13</ele>
           </trkpt>
           <trkpt lat="40.7339850009494" lon="-73.9848000041043">
            <ele>8.650000000000002</ele>
           </trkpt>
           <trkpt lat="40.7346" lon="-73.98435">
            <ele>8.4</ele>
           </trkpt>
           <trkpt lat="40.734260000000006" lon="-73.98356000000001">
            <ele>7.8100000000000005</ele>
           </trkpt>
        [...]
