---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/routes/16341573/export_tcx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/tcx+xml
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '600,30000'
      Etag:
      - W/"e0d3c3aa351ebfc559aa228237756fd2"
      X-Ratelimit-Usage:
      - '1,8881'
      Content-Disposition:
      - attachment; filename="strava_Lower Manhattan Loop.tcx"
      Content-Transfer-Encoding:
      - binary
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <TrainingCenterDatabase xsi:schemaLocation="http://www.garmin.com/xmlschemas/TrainingCenterDatabase/v2 http://www.garmin.com/xmlschemas/TrainingCenterDatabasev2.xsd" xmlns:ns5="http://www.garmin.com/xmlschemas/ActivityGoals/v1" xmlns:ns3="http://www.garmin.com/xmlschemas/ActivityExtension/v2" xmlns:ns2="http://www.garmin.com/xmlschemas/UserProfile/v2" xmlns="http://www.garmin.com/xmlschemas/TrainingCenterDatabase/v2" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
         <Folders/>
         <Courses>
          <Course>
           <Name>Lower Manhattan</Name>
           <Lap>
            <TotalTimeSeconds>4885.816934614205</TotalTimeSeconds>
            <DistanceMeters>14914.774951561694</DistanceMeters>
            <Intensity>Active</Intensity>
           </Lap>
           <Track>
            <Trackpoint>
             <Time>2018-12-01T19:44:26+00:00</Time>
             <Position>
              <LatitudeDegrees>40.7336500</LatitudeDegrees>
              <LongitudeDegrees>-73.9859200</LongitudeDegrees>
             </Position>
             <AltitudeMeters>9.55</AltitudeMeters>
             <DistanceMeters>0.0</DistanceMeters>
            </Trackpoint>
            <Trackpoint>
             <Time>2018-12-01T19:44:39+00:00</Time>
             <Position>
              <LatitudeDegrees>40.7333700</LatitudeDegrees>
              <LongitudeDegrees>-73.9852500</LongitudeDegrees>
             </Position>
             <AltitudeMeters>9.13</AltitudeMeters>
             <DistanceMeters>64.52784836429899</DistanceMeters>
            </Trackpoint>
            [...]
