---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/gear/g3423618
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Usage:
      - '1,12'
      X-Ratelimit-Limit:
      - '200,2000'
      X-Readratelimit-Limit:
      - '100,1000'
      Etag:
      - W/"443afbfb2eb91fe485fc4f042765858d"
      X-Readratelimit-Usage:
      - '1,12'
    body:
      encoding: UTF-8
      string: '{"id":"g3423618","primary":false,"name":"Adidas Supernova ST","nickname":"","resource_state":3,"retired":true,"distance":966309,"converted_distance":600.4,"brand_name":"Adidas","model_name":"Supernova
        ST","description":"Marathon 2018.","notification_distance":0}'
  recorded_at: Sun, 19 Oct 2025 15:31:22 GMT
- request:
    method: get
    uri: https://www.strava.com/api/v3/gear/b16988545
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Usage:
      - '4,15'
      X-Ratelimit-Limit:
      - '200,2000'
      X-Readratelimit-Limit:
      - '100,1000'
      Etag:
      - W/"bbc050844d2a73688d4f43f46b5030ec"
      X-Readratelimit-Usage:
      - '4,15'
    body:
      encoding: UTF-8
      string: '{"id":"b16988545","primary":false,"name":"Trek","nickname":"Trek","resource_state":3,"retired":false,"distance":0,"converted_distance":0.0,"brand_name":"Trek","model_name":"450","frame_type":3,"description":"Favorite
        Trek.","weight":9.0}'
  recorded_at: Sun, 19 Oct 2025 15:37:48 GMT
recorded_with: VCR 6.3.1
