---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/gear/g3423618
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '600,30000'
      Etag:
      - W/"79423fe3220b74234efa94d8b540d128"
      X-Ratelimit-Usage:
      - '71,8794'
    body:
      encoding: UTF-8
      string: '{"id":"g3423618","primary":true,"name":"adidas Supernova ST","resource_state":3,"distance":380939.0,"brand_name":"adidas","model_name":"Supernova
        ST","description":"Marathon 2018."}'
  recorded_at: Sat, 01 Dec 2018 16:36:05 GMT
recorded_with: VCR 4.0.0
