---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/gear/b2338517
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9b4c6f7ac12838baeb083fec060ece88"
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '600,30000'
      X-Ratelimit-Usage:
      - '3,2096'
    body:
      encoding: UTF-8
      string: '{"id":"b2338517","primary":false,"name":"Trek","nickname":"Trek","resource_state":3,"retired":false,"distance":54349,"converted_distance":54.3,"brand_name":"Trek
        ","model_name":"Madrone","frame_type":3,"description":"white","weight":9.1}'
  recorded_at: Mon, 13 Sep 2021 15:26:32 GMT
recorded_with: VCR 6.0.0
