---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/routes/16341573
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '600,30000'
      Etag:
      - W/"50133cfaedab0d6dc3aee3ac78764d3d"
      X-Ratelimit-Usage:
      - '31,8783'
    body:
      encoding: UTF-8
      string: '{"athlete":{"id":26462176,"username":"dblockdotorg","resource_state":2,"firstname":"Daniel","lastname":"Doubrovkine","city":"New
        York","state":"NY","country":"","sex":"M","premium":true,"summit":true,"created_at":"2017-11-28T19:05:35Z","updated_at":"2018-11-25T13:43:32Z","badge_type_id":1,"profile_medium":"https://dgalywyr863hv.cloudfront.net/pictures/athletes/26462176/7677115/2/medium.jpg","profile":"https://dgalywyr863hv.cloudfront.net/pictures/athletes/26462176/7677115/2/large.jpg","friend":null,"follower":null},"description":"My
        usual long run when I am too lazy to go to Central Park.","distance":14914.774951561694,"elevation_gain":117.25346822039764,"id":16341573,"map":{"id":"r16341573","summary_polyline":"ixrwF`kqbMv@eCuFsDbA}CiFkDhE_NuBqAxLec@rGaBxKyKn_AxJ~l@zR|EdHJ~j@zJrpAdOd]~Wre@zCrRaIfKsHbBiAbNcGzKiBa@[_C_FgAu@|BwX{D`@qFuGgAk@lG{]sDdA}T{q@mImjA_FcA}CN}k@le@a{AqGgE~@uC","resource_state":3,"polyline":"ixrwF`kqbMv@eCuFsDbA}CiFkDhE_NuBqAzDuL`GmRDWUYJo@`Eq@b@Ql@]HOnA}@|@gAvB_DxAgAn@[f@OvAGnEh@bFb@`AR|@^LGhAZv@Q^QdIhAl@Vt@?^b@TH`@?XQhAP`AXVG~AXt@|@^P\\@PAv@c@nBb@V?dARNN\\?|@Rd@XZ?p@PVP^?fAXZX\\l@PFb@F~@MV?ZNr@j@fA?ZP\\XJ@PAn@Pr@l@v@FbAb@~@l@d@?v@XPPHPLj@RRRFDCz@_@hBt@j@Zl@j@x@|@n@nAh@l@PXHb@@v@Jz@TrI}@DD\\RhFl@dQa@bBnAhUVXfCt\\H`DZlE^tEj@xFXxAd@lAjApCjA`CT^PPnAvC@Pf@nATYB?p@`BOPATBTfBpDFG`DnFhBbDdAvAEHlAnBjAvBKVxApCCDFJn@b@nD|GXfAd@nC|AhKAPSFKHKb@OHC|Am@Ca@`@k@nAKAYBO`@k@v@c@^y@Xc@@w@GAXiAQGj@_ARIFYp@SrAGt@JxAAb@OD?zAMfASr@e@v@k@`@BZGX]t@Y^Mx@Ub@?P}@PwAQQOOo@@i@CSIQQ?aAYkCm@u@|B}Bc@oIoAiJgA`@qFuGgAk@lGwFo@cVcCCQl@iIMGh@yI}Di@qDa@a@`@}B[Bg@yOoBuPoB_YsAyFOwAQsAI}B?sJi@uSu@EaCq@EKULK@aDAeS@iRpD_Mz_@amAqGgE~@uC"},"name":"Lower
        Manhattan Loop","private":false,"resource_state":3,"starred":false,"sub_type":1,"timestamp":1543693466,"created_at":"2018-12-01T19:44:26Z","updated_at":"2018-12-01T19:52:14Z","type":2,"estimated_moving_time":4885,"segments":[{"id":1109718,"resource_state":2,"name":"E
        14th St Climb","activity_type":"Run","distance":419.58,"average_grade":-0.8,"maximum_grade":-0.6,"elevation_high":7.1,"elevation_low":3.8,"start_latlng":[40.73554842732847,-73.98271151818335],"end_latlng":[40.73427177965641,-73.97865023463964],"start_latitude":40.73554842732847,"start_longitude":-73.98271151818335,"end_latitude":40.73427177965641,"end_longitude":-73.97865023463964,"climb_category":0,"city":"New
        York","state":"NY","country":"United States","private":false,"hazardous":false,"starred":false},{"id":2379490,"resource_state":2,"name":"East
        river 14th esplanade north section","activity_type":"Run","distance":605.956,"average_grade":0.0,"maximum_grade":0.7,"elevation_high":0.3,"elevation_low":-0.2,"start_latlng":[40.7258644,-73.9720339],"end_latlng":[40.7205934,-73.973317],"start_latitude":40.7258644,"start_longitude":-73.9720339,"end_latitude":40.7205934,"end_longitude":-73.973317,"climb_category":0,"city":"New
        York","state":"NY","country":"United [...]
