---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/running_races/1577
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '600,30000'
      Etag:
      - W/"badba6faf62a4f30af50fd0768a9cbfb"
      X-Ratelimit-Usage:
      - '91,9239'
    body:
      encoding: UTF-8
      string: '{"id":1577,"name":"Walt Disney World Marathon 10k","start_date_local":"2018-01-05T05:30:00Z","distance":10000.0,"city":"Orlando","state":"FL","country":"United
        States","measurement_preference":"meters","running_race_type":0,"url":"2018-walt-disney-world-marathon-10k","resource_state":3,"status":1,"website_url":"https://www.rundisney.com/disneyworld-marathon/","route_ids":[11426012]}'
  recorded_at: Sun, 02 Dec 2018 17:26:06 GMT
recorded_with: VCR 4.0.0
