---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/running_races
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '600,30000'
      Etag:
      - W/"ad2c2831b48cf384b3376b5bf7807248"
      X-Ratelimit-Usage:
      - '1,9149'
    body:
      encoding: UTF-8
      string: '[{"id":1577,"name":"Walt Disney World Marathon 10k","start_date_local":"2018-01-05T05:30:00Z","distance":10000.0,"city":"Orlando","state":"FL","country":"United
        States","measurement_preference":"meters","running_race_type":0,"url":"2018-walt-disney-world-marathon-10k","resource_state":2},{"id":1578,"name":"Walt
        Disney World Half Marathon","start_date_local":"2018-01-06T05:30:00Z","distance":21097.0,"city":"Orlando","state":"FL","country":"United
        States","measurement_preference":"feet","running_race_type":0,"url":"2018-walt-disney-world-half-marathon","resource_state":2},{"id":1579,"name":"NYRR
        Joe Kleinerman 10k ","start_date_local":"2018-01-06T08:00:00Z","distance":10000.0,"city":"New
        York","state":"NY","country":"USA","measurement_preference"[...]
