---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/segment_efforts/41494197089
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Usage:
      - '7,231'
      X-Ratelimit-Limit:
      - '200,2000'
      X-Readratelimit-Limit:
      - '100,1000'
      Etag:
      - W/"4250bb384aec73c787b7a1747b3efac2"
      X-Readratelimit-Usage:
      - '7,230'
    body:
      encoding: UTF-8
      string: '{"id":41494197089,"resource_state":3,"name":"E 14th St Climb","activity":{"resource_state":2,"athlete":{"id":26462176,"resource_state":1},"name":"Proper
        Old Route Run","distance":14660.7,"moving_time":4443,"elapsed_time":4493,"total_elevation_gain":39.3,"type":"Run","sport_type":"Run","workout_type":null,"id":1655832792,"start_date":"2018-06-22T12:40:49Z","start_date_local":"2018-06-22T08:40:49Z","timezone":"(GMT-05:00)
        America/New_York","utc_offset":-14400.0,"location_city":null,"location_state":null,"location_country":null,"achievement_count":19,"kudos_count":4,"comment_count":0,"athlete_count":1,"photo_count":0,"map":{"id":"a1655832792","summary_polyline":"ovrwFjgqbM}EoCVaEqEsDjDiNo@aClLy`@`EQhM{NbUzAxS|KpNtBzNj@|AkCp`@rNrEbHZdf@}@tN|BhIJzHdG`RcB~F|@fPxMxb@tG~G~ElQ~Ex@nDzHtClRkDvBa@lEqBpCuFSsAzAg@zMcHbJuG_HcCrC_W{CCeFyBy@uC?}@lEo]mChAqN_@{DgBo@_mA_N{o@{AqQyEVgE{BeBxIyWQuCtGcNvVmw@bFoC|AaE","resource_state":2},"trainer":false,"commute":false,"manual":false,"private":false,"visibility":"everyone","flagged":false,"gear_id":"g3372291","start_latlng":[40.733362,-73.98533],"end_latlng":[40.734313,-73.989695],"average_speed":3.3,"max_speed":5.0,"has_heartrate":true,"average_heartrate":167.0,"max_heartrate":177.0,"heartrate_opt_out":false,"display_hide_heartrate_option":true,"elev_high":30.0,"elev_low":-6.7,"upload_id":1778753520,"upload_id_str":"1778753520","external_id":"15054303514.tcx","from_accepted_tag":false,"pr_count":11,"total_photo_count":0,"has_kudoed":false,"suffer_score":196.0},"athlete":{"id":26462176,"username":"dblockdotorg","resource_state":2,"firstname":"Daniel","lastname":"Doubrovkine","bio":"@dblockdotorg
        everywhere. Running in traffic since 2017 \u0026 blogging about it at http://run.dblock.org.
        Former CTO @Artsy. NYC marathon in 2018! I also made a Strava bot for Slack,
        https://slava.playplay.io.","city":"New York","state":"NY","country":"","sex":"M","premium":true,"summit":true,"created_at":"2017-11-28T19:05:35Z","updated_at":"2025-10-18T23:04:28Z","badge_type_id":1,"weight":90.1,"profile_medium":"https://dgalywyr863hv.cloudfront.net/pictures/athletes/26462176/7677115/2/medium.jpg","profile":"https://dgalywyr863hv.cloudfront.net/pictures/athletes/26462176/7677115/2/large.jpg","friend":null,"follower":null},"elapsed_time":116,"moving_time":116,"start_date":"2018-06-22T12:42:43Z","start_date_local":"2018-06-22T08:42:43Z","distance":419.58,"start_index":109,"end_index":225,"device_watts":false,"average_heartrate":152.2,"max_heartrate":158.0,"segment":{"id":1109718,"resource_state":2,"name":"E
        14th St Climb","activity_type":"Run","distance":419.58,"average_grade":-0.8,"maximum_grade":-0.6,"elevation_high":7.1,"elevation_low":3.8,"start_latlng":[40.73554842732847,-73.98271151818335],"end_latlng":[40.73427177965641,-73.97865023463964],"elevation_profile":null,"elevation_profiles":null,"climb_category":0,"city":"New
        York","state":"NY","country":"United States","private":false,"hazardous":false,"starred":false},"pr_rank":1,"achievements":[{"type_id":3,"type":"pr","rank":1}],"visibility":"everyone","kom_rank":null,"athlete_segment_stats":{"pr_elapsed_time":116,"pr_date":"2018-06-22","pr_visibility":"everyone","pr_activity_id":1655832792,"pr_activity_visibility":"everyone","effort_count":5}}'
  recorded_at: Sat, 18 Oct 2025 23:40:55 GMT
recorded_with: VCR 6.3.1
