---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/segments/1109718/all_efforts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Usage:
      - '8,232'
      X-Ratelimit-Limit:
      - '200,2000'
      X-Readratelimit-Limit:
      - '100,1000'
      Etag:
      - W/"d2339721132c8c536c2dc1acf88cecd6"
      X-Readratelimit-Usage:
      - '8,231'
    body:
      encoding: UTF-8
      string: '[{"id":41494197089,"resource_state":2,"name":"E 14th St Climb","activity":{"id":1655832792,"visibility":"everyone","resource_state":1},"athlete":{"id":26462176,"resource_state":1},"elapsed_time":116,"moving_time":116,"start_date":"2018-06-22T12:42:43Z","start_date_local":"2018-06-22T08:42:43Z","distance":419.58,"start_index":109,"end_index":225,"device_watts":false,"average_heartrate":152.2,"max_heartrate":158.0,"segment":{"id":1109718,"resource_state":2,"name":"E
        14th St Climb","activity_type":"Run","distance":419.58,"average_grade":-0.8,"maximum_grade":-0.6,"elevation_high":7.1,"elevation_low":3.8,"start_latlng":[40.73554842732847,-73.98271151818335],"end_latlng":[40.73427177965641,-73.97865023463964],"elevation_profile":null,"elevation_profiles":null,"climb_category":0,"city":"New
        York","state":"NY","country":"United States","private":false,"hazardous":false,"starred":false},"pr_rank":1,"achievements":[{"type_id":3,"type":"pr","rank":1}],"visibility":"everyone","kom_rank":null},{"id":41725198505,"resource_state":2,"name":"E
        14th St Climb","activity":{"id":1664657726,"visibility":"everyone","resource_state":1},"athlete":{"id":26462176,"resource_state":1},"elapsed_time":119,"moving_time":119,"start_date":"2018-06-26T23:04:41Z","start_date_local":"2018-06-26T19:04:41Z","distance":419.58,"start_index":127,"end_index":246,"device_watts":false,"average_heartrate":147.8,"max_heartrate":152.0,"segment":{"id":1109718,"resource_state":2,"name":"E
        14th St Cl[...]
