---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/segments/1109718/leaderboard
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '600,30000'
      Etag:
      - W/"ce8dbb65777aa5e39d338b94097db6a4"
      X-Ratelimit-Usage:
      - '90,10443'
    body:
      encoding: UTF-8
      string: '{"effort_count":204,"entry_count":204,"kom_type":"kom","entries":[{"athlete_name":"Etan
        B.","elapsed_time":92,"moving_time":92,"start_date":"2016-06-24T10:56:16Z","start_date_local":"2016-06-24T06:56:16Z","rank":1},{"athlete_name":"Brian
        L.","elapsed_time":92,"moving_time":88,"start_date":"2016-11-10T00:19:26Z","start_date_local":"2016-11-09T19:19:26Z","rank":1},{"athlete_name":"Nick
        K.","elapsed_time":94,"moving_time":94,"start_date":"2018-08-21T23:52:59Z","start_date_local":"2018-08-21T19:52:59Z","rank":3},{"athlete_name":"Alex
        N.","elapsed_time":99,"moving_time":99,"start_date":"2017-07-31T23:38:35Z","start_date_local":"2017-07-31T19:38:35Z","rank":4},{"athlete_name":"Aron
   [...]
