---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/segments/starred
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Usage:
      - '11,235'
      X-Ratelimit-Limit:
      - '200,2000'
      X-Readratelimit-Limit:
      - '100,1000'
      Etag:
      - W/"ac90c3ec7527c5ad7440df0c772b3cad"
      X-Readratelimit-Usage:
      - '11,234'
    body:
      encoding: UTF-8
      string: '[{"id":1436274,"resource_state":2,"name":"eastSideofReservoir","activity_type":"Run","distance":1052.5,"average_grade":-0.2,"maximum_grade":3.8,"elevation_high":35.2,"elevation_low":28.8,"start_latlng":[40.7816035,-73.9623794],"end_latlng":[40.7890287,-73.9572087],"elevation_profile":null,"elevation_profiles":null,"climb_category":0,"city":"New
        York","state":"NY","country":"United States","private":false,"hazardous":false,"starred":true,"pr_time":256,"athlete_pr_effort":{"id":38072446364,"activity_id":1524689861,"elapsed_time":256,"distance":1052.5,"start_date":"2018-04-22T12:38:15Z","start_date_local":"2018-04-22T08:38:15Z","is_kom":false},"starred_date":"2018-12-02T19:23:20Z"},{"id":8068368,"resource_state":2,"name":"Horse
        Alley","activity_type":"Run","distance":386.0,"average_grade":0.4,"maximum_grade":20.5,"elevation_high":21.6,"elevation_low":14.4,"start_latlng":[40.767264,-73.9768],"end_latlng":[40.769921,-73.974114],"elevation_profile":null,"elevation_profiles":null,"climb_category":0,"city":"New
        York","state":"New York","country":"United States","private":false,"hazardous":false,"starred":true,"pr_time":96,"athlete_pr_effort":{"id":40414495005,"activity_id":1614375410,"elapsed_time":96,"distance":386.0,"start_date":"2018-06-03T12:05:54Z","start_date_local":"2018-06-03T08:05:54Z","is_kom":false},"starred_date":"2018-12-02T19:21:55Z"}]'
  recorded_at: Sat, 18 Oct 2025 23:40:56 GMT
recorded_with: VCR 6.3.1
