---
http_interactions:
- request:
    method: put
    uri: https://www.strava.com/api/v3/segments/1109718/starred
    body:
      encoding: UTF-8
      string: starred=true
    headers:
      Authorization:
      - Bearer access-token
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Status:
      - 401 Unauthorized
      X-Ratelimit-Limit:
      - '600,30000'
      X-Ratelimit-Usage:
      - '1,10542'
    body:
      encoding: UTF-8
      string: '{"message":"Authorization Error","errors":[{"resource":"AccessToken","field":"write_permission","code":"missing"}]}'
  recorded_at: Sun, 02 Dec 2018 19:16:21 GMT
recorded_with: VCR 4.0.0
