---
http_interactions:
- request:
    method: put
    uri: https://www.strava.com/api/v3/activities/1982980795
    body:
      encoding: UTF-8
      string: description=Updated+test+strava-ruby-client+activity.&name=updated+activity
    headers:
      Authorization:
      - Bearer access-token
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '600,30000'
      Etag:
      - W/"f6f61af8d96ddab3ee33905e3bf87d09"
      X-Ratelimit-Usage:
      - '92,10757'
    body:
      encoding: UTF-8
      string: '{"resource_state":3,"athlete":{"id":29323238,"resource_state":1},"name":"updated
        activity","distance":1000.0,"moving_time":1234,"elapsed_time":1234,"total_elevation_gain":0.0,"type":"Run","workout_type":null,"id":1982980795,"external_id":null,"upload_id":null,"start_date":"2018-11-24T20:39:28Z","start_date_local":"2018-11-24T15:39:28Z","timezone":"(GMT-05:00)
        America/New_York","utc_offset":-18000.0,"start_latlng":null,"end_latlng":null,"location_city":null,"location_state":null,"location_country":"United
        States","start_latitude":null,"start_longitude":null,"achievement_count":0,"kudos_count":0,"comment_count":0,"athlete_count":1,"photo_count":0,"map":{"id":"a1982980795","polyline":null,"resource_state":3},"trainer":false,"commute":false,"manual":true,"private":false,"visibility":"everyone","flagged":false,"gear_id":null,"from_accepted_tag":null,"average_speed":0.81,"max_speed":0.0,"has_heartrate":false,"heartrate_opt_out":false,"display_hide_heartrate_option":false,"pr_count":0,"total_photo_count":0,"has_kudoed":false,"description":"Updated
        test strava-ruby-client activity.","calories":0,"segment_efforts":[],"best_efforts":[],"photos":{"primary":null,"count":0},"embed_token":"b88ab5b3fe3cbda4b5e0b74883aff8b88935381d","similar_activities":{"effort_count":0,"average_speed":0,"min_average_speed":0,"mid_average_speed":0,"max_average_speed":0,"pr_rank":null,"frequency_milestone":null,"trend":{"speeds":[],"current_activity_index":null,"min_speed":0,"mid_speed":0,"max_speed":0,"direction":0},"resource_state":2},"available_zones":[]}'
  recorded_at: Tue, 27 Nov 2018 20:05:43 GMT
recorded_with: VCR 4.0.0
