---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/uploads/2136460097
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '600,30000'
      Etag:
      - W/"cba932c37f8a8006d2d502b59db459ce"
      X-Ratelimit-Usage:
      - '94,10964'
    body:
      encoding: UTF-8
      string: '{"id":2136460097,"external_id":"strava-ruby-client-upload-1.tcx","error":null,"status":"Your
        activity is ready.","activity_id":1998557443}'
  recorded_at: Mon, 03 Dec 2018 20:27:40 GMT
recorded_with: VCR 4.0.0
