---
http_interactions:
- request:
    method: post
    uri: https://www.strava.com/api/v3/push_subscriptions
    body:
      encoding: UTF-8
      string: callback_url=http%3A%2F%2F35d43b4e.ngrok.io%2Fsubscribe&client_id=24523&client_secret=client-secret&verify_token=verify-token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '600,30000'
      X-Ratelimit-Usage:
      - '0,0'
    body:
      encoding: UTF-8
      string: '{"id":131300,"resource_state":2,"application_id":24523,"callback_url":"http://35d43b4e.ngrok.io/","created_at":"2018-11-29T21:46:21.854786016Z","updated_at":"2018-11-29T21:46:21.854785155Z"}

'
  recorded_at: Thu, 29 Nov 2018 21:46:21 GMT
recorded_with: VCR 4.0.0
