---
http_interactions:
- request:
    method: get
    uri: https://api.strava.com/api/v3/push_subscriptions?client_id=24523&client_secret=client-secret
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '600,30000'
      X-Ratelimit-Usage:
      - '0,0'
    body:
      encoding: UTF-8
      string: '[{"id":131300,"resource_state":2,"application_id":24523,"callback_url":"http://35d43b4e.ngrok.io/","created_at":"2018-11-29T21:46:22Z","updated_at":"2018-11-29T21:46:22Z"}]

'
  recorded_at: Thu, 29 Nov 2018 21:51:41 GMT
recorded_with: VCR 4.0.0
