---
http_interactions:
- request:
    method: post
    uri: https://www.strava.com/oauth/token
    body:
      encoding: UTF-8
      string: client_id=client-id&client_secret=client-secret&code=code&grant_type=authorization_code&token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Status:
      - 400 Bad Request
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Bad Request","errors":[{"resource":"Application","field":"client_id","code":"invalid"}]}'
  recorded_at: Thu, 22 Nov 2018 20:16:41 GMT
recorded_with: VCR 4.0.0
