---
http_interactions:
- request:
    method: post
    uri: https://www.strava.com/oauth/token
    body:
      encoding: UTF-8
      string: client_id=24523&client_secret=client-secret&grant_type=refresh_token&refresh_token=refresh-token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Status:
      - 200 OK
      Etag:
      - W/"0f3eb115bd7d2ef9718c83ece058e3f9"
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"Bearer","access_token":"new-access-token","expires_at":1542940199,"expires_in":14282,"refresh_token":"new-refresh-token"}'
  recorded_at: Thu, 22 Nov 2018 22:31:57 GMT
recorded_with: VCR 4.0.0
